# коментар - цей рядок ігнорується
# не обробляти файли, ім'я яких закінчується на .a
*.a
# АЛЕ відстежувати файл lib.a, незважаючи на те, що ми ігноруємо всі файли .a за допомогою попереднього правила
!lib.a
# ігнорувати тільки файл TODO, що знаходиться в кореневому каталозі, не відноситься до файлів виду subdir/TODO
/TODO
# ігнорувати всі файли в каталозі build/
build/
# ігнорувати doc/notes.txt, але не doc/server/arch.txt
doc/*.txt
# ігнорувати всі .txt файли в каталозі doc/
doc/**/*.txt

node_modules/*